/* Changing header */

.block-header-1--logo img {
    max-height: 4.0rem
}

.block-header-1 {
    padding: 0.5rem 2rem
}

header {
    border-bottom: 1px solid #000;
}

.block-header-1--logo {
	padding-right: 30px;
}
/* Double call to action */

.button.primary.inverted {
    padding-right: 10px
}

/* Overwriting colors */


.button.primary {
 background-color:#004C92
}

.button.secondary {
 border:1.5px solid #004C92
}

.block-header-1 .nav-item.active a {
 color:#004C92
}

.block-header-1 .nav-item.active a:hover {
 color:#004C92
}

.block-header-1 .nav-item.active a {
 color:#004C92
}

.block-header-1 .nav-item.active a:hover {
 color:#004C92
}

.block-hero-1 {
 --bg:#004C92
}

.block-hero-2 {
 --bg:#004C92
}

.block-cta-bar {
 background:#004C92
}

::-moz-selection {
 background:#ffedbc
}
::-webkit-selection {
 background:#004C92
}
::selection {
 background:#004C92
}

/* Adjusting the size of elements */

@media screen and (min-width:700px) {
 .block-hero-2 .column.text {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
 }
 .block-hero-2 .column.media {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
 }
.block-hero-2 .column.media img {
  width:25vw;
  max-width:320px
 }
header { 
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%
 }
}

/* Make menu look good on small screens , based on: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/

/* Hide the link that should open and close the topnav on small screens */
 .block-header-1--nav .icon {
  display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .block-header-1--nav li:not(:first-child) {
  	display: none
  }
  .block-header-1--nav a.border-menu {
    float: right;
    display: block
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .block-header-1--nav.responsive {
  	position: relative
  }
  .block-header-1--nav.responsive a.border-menu {
    position: absolute;
    right: 0;
    top: 0
  }
  .block-header-1--nav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

/* From: http://www.alwaystwisted.com/post.php?s=2012-05-12-create-a-pure-css-menu-button*/ ;

.border-menu {
  padding-left: 1.25em;
}
.border-menu:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
}

