.block-header-2--logo img {
    max-height: 4.0rem;
}

.block-header-2 {
    padding: 0.5rem 2rem;
}

.block-hero-2 {
    --bg: #004C92;
}

.block-header-2 .nav-item.active a {
    color: #004C92;
}

.button.primary {
    background-color: #004C92;
    color: #fff;
}

media screen and (min-width: 700px)
.block-hero-2 .column.media img {
    width: 25vw;
    max-width: 320px;
}

header {
    border-bottom: 1px solid #fff;
}

::-moz-selection{background:#004C92;color:#fff}
::-webkit-selection{background:#004C92;color:#fff}
::selection{background:#004C92;color:#fff}