<header class="block block-header-1">

  <div class="block-header-1--logo">
    <a href="{{ site.url | relative_url }}">
      <img src="{{ section.logo | relative_url }}" alt="{{ site.title }}">
    </a>
  </div>

  <nav class="block-header-1--nav" id="myTopnav">
    <ul>
      {% for nav_item in section.navigation %}
      <li class="nav-item {% if page.url == nav_item.link %}active{% endif %}"><a href="{{ nav_item.link }}">{{ nav_item.link_text }}</a></li>
      {% endfor %}
    </ul>
    <a href="javascript:void(0);" class="border-menu" onclick="toggleMenu()">
      Menu
    </a>
  </nav>

</header>

<script>
  function toggleMenu() {
    var x = document.getElementById("myTopnav");
    if (x.className === "block-header-1--nav") {
      x.className += " responsive";
    } else {
      x.className = "block-header-1--nav";
    }
  }
</script>