<section class="block block-three-column-1">
  <div class="container">
    <div class="destination" id="{{ section.id }}"></div>
    <div class="columns">
      <div class="column">
         <figure>
          <img src="{{ section.image_1.image | relative_url }}" alt="{{ section.image_1.caption }}" style="width: 50%;">
          {% if section.image_1.caption %}
          <figcaption>{{ section.image_1.caption }}</figcaption>
          {% endif %}
        </figure>      
        <h3>{{ section.col_1.headline }}</h3>
        <p>{{ section.col_1.content }}</p>
      </div>
      <div class="column">
         <figure>
          <img src="{{ section.image_2.image | relative_url }}" alt="{{ section.image_2.caption }}" style="width: 50%;">
          {% if section.image_2.caption %}
          <figcaption>{{ section.image_2.caption }}</figcaption>
          {% endif %}
        </figure>      
        <h3>{{ section.col_2.headline }}</h3>
        <p>{{ section.col_2.content }}</p>
      </div>
      <div class="column">
         <figure>
          <img src="{{ section.image_3.image | relative_url }}" alt="{{ section.image_3.caption }}" style="width: 50%;">
          {% if section.image_3.caption %}
          <figcaption>{{ section.image_3.caption }}</figcaption>
          {% endif %}
        </figure>      
        <h3>{{ section.col_3.headline }}</h3>
        <p>{{ section.col_3.content }}</p>
      </div>            
    </div>
  </div>
</section>