<section class="block block-hero-2" 
{% if section.background_image %}
style="background-image: url('{{ section.background_image | relative_url }}')"
{% endif %}>
  <div class="container">
    <div class="columns">
      <div class="column text">
        <h1><span class="light">{{ section.headline }}</span></h1>
        <p>{{ section.content }}</p>
        {% if section.ctaiOS and section.ctaiOS.enabled == true %}
        <button class="button primary inverted" href="{{ section.ctaiOS.url }}">{{ section.ctaiOS.button_text }}</button>
        {% endif %}
        {% if section.ctaAndroid and section.ctaAndroid.enabled == true %}
        <button class="button primary inverted" href="{{ section.ctaAndroid.url }}">{{ section.ctaAndroid.button_text }}</button>
        {% endif %}
      </div>
      <div class="column media">
        <img src="{{ section.image.image | relative_url }}" alt="{{ section.image.alt_text }}">
      </div>
    </div>
  </div>
</section>