  <div class="topnav" id="myTopnav">
    <div class="block-header-1--logo">
      <a id="logo" href="{{ section.url | relative_url }}">
        <img src="{{ section.logo | relative_url }}" alt="{{ site.title }}">
      </a>
    </div>
    <div id="menu">
      {% for nav_item in section.navigation %}
      <a class="refs" href="{{ nav_item.link }}">{{ nav_item.link_text }}</a>
      {% endfor %}
      <a id="toggle" href="javascript:void(0);" class="icon" onclick="myFunction()">
        <img id="hamburger" src="{{ section.menu | relative_url }}" alt="Menu">
      </a>
    </div>
  </div>


  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>