<header class="header">
  <a id="logo" href="{{ section.url | prepend: site.baseurl_root }}">
    <img src="{{ section.logo | prepend: site.baseurl_root }}" alt="{{ site.title }}">
  </a>

  <input class="lang-btn" type="checkbox" id="lang-btn" />
  <label class="lang-icon" for="lang-btn">
    <span class="selected-lang refs">
        <img src="{{site.baseurl_root}}/uploads/flags/{{ site.lang }}.png" alt="{{ site.lang }}">
    </span>
  </label>

  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

  <ul class="menu">
    {% for nav_item in section.navigation %}
    <li><a class="refs" href="{% t nav_item.link %}">{% t nav_item.link_text %}</a></li>
    {% endfor %}
  </ul>

  <ul class="langmenu">
    {% assign uniq_langs =  site.languages | where_exp:"l", "l != site.lang"  | uniq %}
    {% for lang in uniq_langs %}
    <li class="lang">
      <a class="lang-icon refs" href="{{ site.baseurl_root }}{{ page.url}}?lang={{ lang }}">
          <img src="{{site.baseurl_root}}/uploads/flags/{{ lang }}.png" alt="{{ lang }}">
      </a>
    </li>
    {% endfor %}
  </ul>
</header>