<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/css/ubuild.css" | prepend: site.baseurl_root }}"/>
  <link rel="stylesheet" href="{{ "/css/irma.css" | prepend: site.baseurl_root }}"/>
</head>

<body>